@import url(https://fonts.googleapis.com/css?family=Montserrat:700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular&display=swap);


//!Import base
@import './base/reset.scss';
@import './base/variables.scss';
@import './base/mixins.scss';

body {
	font-family: $mainFontFamily;
	font-size: 14px;
	line-height: normal;
	color: #1f373d;
	font-style: normal;
}

.container {
	max-width: 1024px;
	min-width: 320px;
	padding: 0 15px;
	margin: 0 auto;
}
//! components
@import './components/header.scss';
@import './components/second-header.scss';

//! pages
@import './pages/home.scss'; 
